.quantum-activos-page {
  width: 100%;
  min-height: calc(100vh - 115px);
  background-color: #f3f6f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  .quantum-body-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
  }
  .quantum-body-right {
    background-color: burlywood;
    width: 25%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
